<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIM SMART SHOP</title>
    <link rel="stylesheet" href="../../styles/components.css" />
    <link rel="stylesheet" href="../../styles/icons.css" />
    <link rel="stylesheet" href="../../styles/responsee.css" />
    <link rel="stylesheet" href="../../../owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="../../../owl-carousel/owl.theme.css" />
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="../styles/template-style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext"
        rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../script/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../script/jquery-ui.min.js"></script>
    <!-- <script type="text/javascript" src="../../script/cart.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="./product.js"></script>

    
</head>

<body class="size-1520">
    <!-- HEADER -->
    <header>
        
    </header>
    <!-- ASIDE NAV AND CONTENT -->
    <div class="line">
        <div class="box margin-bottom">
            <div class="margin2x">
                <!-- ASIDE NAV -->
                <aside class="s-12 m-4 l-3 xl-2">
                    <h4 class="margin-bottom">หมวดหมู่สินค้า</h4>
                    <div class="aside-nav minimize-on-small">
                        <p class="aside-nav-text">หมวดหมู่สินค้า</p>
                        <ul>
                            <li><a href="../../page/Category/electricAppliance.html">เครื่องใช้ไฟฟ้า</a></li>
                            <li>
                                <a href="../../page/Category/2handclothes.html">เสื้อผ้ามือสอง</a>
                            </li>
                            <li>
                                <a href="../../page/Category/consumerGoods.html">เครื่องอุปโภคบริโภค</a>
                            </li>
                            <li><a href="../../page/Category/giftShop.html">กิ๊บช็อป</a></li>
                            <li>
                                <a href="../../page/Category/bagAndShoes.html">กระเป๋าและรองเท้า</a>
                            </li>
                            <li>
                                <a href="../../page/Category/stationery.html">เครื่องเขียน</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <!-- CONTENT -->
                <section class="s-12 m-8 l-9 xl-10">
                    <!-- CAROUSEL -->
                    <div class="line hide-s">
                        <div id="header-carousel" class="owl-carousel owl-theme">
                            <div class="item"><img src="../../image/slideShow/slide1.jpg" alt="" /></div>
                            <div class="item"><img src="../../image/slideShow/slide2.jpg" alt="" /></div>
                            <div class="item"><img src="../../image/slideShow/slide3.jpg" alt="" /></div>
                        </div>
                    </div>
                    <!-- Breadcrumb -->
                    <nav class="breadcrumb-nav">
                        <ul>

                            <li><a href="../smart.html">หมวดหมู่สินค้า</a></li>
                            <li><a href="bagAndShoes.html">เครื่องใช้ไฟฟ้า</a></li>
                        </ul>
                    </nav>
                    <h1 class="margin-bottom">Products</h1>
                    <!-- Pruducts -->
                    <div id="render" class="margin2x">
                        <!-- <div class="s-12 m-12 l-4 xl-3 xxl-3">
                            <a href="">
                                <img class="full-img" src="../../image/product/electric/กาต้มน้ำ.jpg"
                                    alt="กาต้มน้ำร้อน" />
                            </a>
                            <h5>250.00 บาท</h5>
                            <a href="/">
                                <h4 class="margin-bottom">
                                    <strong>กาต้มน้ำร้อน</strong>
                                </h4>
                            </a>
                            <p class="margin-bottom">

                            </p>
                            <form class="customform s-12 margin-bottom2x" >
                                <div>
                                    <input type="hidden" id="product-price" value="250.00">
                                    <button onclick="" class="button rounded-btn submit-btn s-12" type="submit">
                                        Add to Cart
                                    </button>
                                </div>
                            </form>
                        </div> 
                        <div class="s-12 m-12 l-4 xl-3 xxl-3">
                            <a href="">
                                <img class="full-img" src="../../image/product/electric/เครื่องปั่น.jpg"
                                    alt="เครื่องปั่นอเนกประสงค์" />
                            </a>
                            <h5>319.00 บาท</h5>
                            <a href="/">
                                <h4 class="margin-bottom">
                                    <strong>เครื่องปั่นอเนกประสงค์</strong>
                                </h4>
                            </a>
                            <p class="margin-bottom">

                            </p>
                            <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(39.00); return false;">
                                <div>
                                    <button class="button rounded-btn submit-btn s-12" type="submit">
                                        Add to Cart
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="s-12 m-12 l-4 xl-3 xxl-3">
                            <a href="">
                                <img class="full-img" src="../../image/product/electric/หม้อหุงข้าว.jpg"
                                    alt="หม้อหุงข้าว" />
                            </a>
                            <h5>350.00 บาท</h5>
                            <a href="/">
                                <h4 class="margin-bottom">
                                    <strong>หม้อหุงข้าว</strong>
                                </h4>
                            </a>
                            <p class="margin-bottom">

                            </p>
                            <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(39.00); return false;">
                                <div>
                                    <button class="button rounded-btn submit-btn s-12" type="submit">
                                        Add to Cart
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="s-12 m-12 l-4 xl-3 xxl-3">
                            <a href="">
                                <img class="full-img" src="../../image/product/electric/หม้อต้มน้ำ.jpg"
                                    alt="หม้อต้มไฟฟ้า" />
                            </a>
                            <h5>499.00 บาท</h5>
                            <a href="/">
                                <h4 class="margin-bottom">
                                    <strong>หม้อต้มไฟฟ้า</strong>
                                </h4>
                            </a>
                            <p class="margin-bottom">

                            </p>
                            <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(39.00); return false;">
                                <div>
                                    <button class="button rounded-btn submit-btn s-12" type="submit">
                                        Add to Cart
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="s-12 m-12 l-4 xl-3 xxl-3">
                            <a href="">
                                <img class="full-img" src="../../image/product/electric/เตาหมูทะ.jpg"
                                    alt="กระทะปิ้งย่างพร้อมหม้อต้ม" />
                            </a>
                            <h5>999.00 บาท</h5>
                            <a href="/">
                                <h4 class="margin-bottom">
                                    <strong>กระทะปิ้งย่างพร้อมหม้อต้ม</strong>
                                </h4>
                            </a>
                            <p class="margin-bottom">

                            </p>
                            <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(39.00); return false;">
                                <div>
                                    <button class="button rounded-btn submit-btn s-12" type="submit">
                                        Add to Cart
                                    </button>
                                </div>
                            </form>
                        </div> -->
                        </form>
                    </div>
            </div>
            </section>
        </div>
    </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <div class="line">
            <div class="s-12 l-6">
                <p>Copyright 2023, PIM Smart Shop</p>
            </div>
            <div class="s-12 l-6">
                <a class="right" href="" title="Responsee - lightweight responsive framework">Design by Teeramate and
                    Paiboon Team</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="../../script/responsee.js"></script>
    <script type="text/javascript" src="../../../owl-carousel/owl.carousel.js"></script>
    <script src="./navbar.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var owl = $("#header-carousel");
            owl.owlCarousel({
                nav: false,
                dots: true,
                items: 1,
                loop: true,
                navText: ["&#xf007", "&#xf006"],
                autoplay: true,
                autoplayTimeout: 3000,
            });
        });

        $(document).ready(() => {
            render();
        })

        function render() {
            var html = "";
            for (let i = 0; i < productMaster.electric.length; i++) {
                const element = productMaster.electric[i];
                html += `
                <div class="s-12 m-12 l-4 xl-3 xxl-3">
                    <a href="">
                        <img class="full-img" src="${element.img}"/>
                    </a>
                    <h5>${numberWithCommas((element.price).toFixed(2))} บาท</h5>
                    <a href="/">
                        <h4 class="margin-bottom">
                            <strong>${element.name}</strong>
                        </h4>
                    </a>
                    <p class="margin-bottom">

                    </p>
                    <div class="customform s-12 margin-bottom2x" >
                        <div>
                            <button onclick="addCart(${element.id})" class="button rounded-btn submit-btn s-12" >
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>`;
            }
            $("#render").html(html)
        }
    </script>
</body>

</html>