<script src="../script/fav.js"></script>

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="../styles/login.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <a class="navbar-brand" href="index.html">
                <img
                    src="../image/pimlogo.png"
                    width="20%"
                    height="20%"
                    alt="pim logo"
                />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="index.html">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                    <a class="nav-item nav-link" href="login.html">Login</a>
                    <a class="nav-item nav-link" href="register.html"
                        >Sign up</a
                    >
                    <a
                        class="nav-item nav-link"
                        href="https://www.facebook.com/shopforpimsmart"
                        target="blank"
                        >Help</a
                    >
                </div>
            </div>
        </nav>

        <div class="container">
            <h2>Login</h2>
            <form id="login-form">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        required
                    />
                </div>
                <button type="submit">Login</button>
            </form>
            <p id="error-message" class="error-message"></p>
        </div>

        <script>
            var baseURL = "http://localhost:4000"

            function handleLogin(event) {
                event.preventDefault()

                const username = document.getElementById("username").value
                const password = document.getElementById("password").value

                fetch(baseURL + "/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ username, password }),
                })
                    .then((response) => {
                        if (response.ok) {
                            // Login successful
                            alert("Login successful!")
                            // Redirect to homepage
                            window.location.href = "homepage.html"
                        } else {
                            // Login failed
                            return response.json()
                        }
                    })
                    .then((data) => {
                        if (data) {
                            document.getElementById("error-message").innerText =
                                data.message
                        }
                    })
                    .catch((error) => {
                        console.error("Error:", error)
                    })
            }

            document
                .getElementById("login-form")
                .addEventListener("submit", handleLogin)
        </script>
    </body>
</html>
