<div class="margin2x">
  <div class="s-12 m-12 l-4 xl-3 xxl-3">
    <a href="">
      <img class="full-img" src="../../image/product/bagAndShoes/bagGreen.jpg" alt="ชุดสูทพร้อมกางเกงชาย" />
    </a>
    <h5>300.00 บาท</h5>
    <a href="/">
      <h4 class="margin-bottom">
        <strong>ชุดสูทพร้อมกางเกงชาย</strong>
      </h4>
    </a>
    <p class="margin-bottom"></p>
    <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(39.00); return false;">
      <div>
        <button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button>
      </div>
    </form>
  </div>
  <div class="s-12 m-12 l-4 xl-3 xxl-3">
    <a href="">
      <img class="full-img" src="../../image/product/bagAndShoes/bagSoftPurple.jpg" alt="เสื้อเอวลอยพร้อมกระโปรงยาว" />
    </a>
    <h5>350.00 บาท</h5>
    <a href="/">
      <h4 class="margin-bottom">
        <strong>เสื้อเอวลอยพร้อมกระโปรงยาว</strong>
      </h4>
    </a>
    <p class="margin-bottom"></p>
    <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(39.00); return false;">
      <div>
        <button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button>
      </div>
    </form>
  </div>
  <div class="s-12 m-12 l-4 xl-3 xxl-3">
    <a href="">
      <img class="full-img" src="../../image/product/bagAndShoes/bagButterfly.jpg" alt="เสื้อสูทผู้ชายสีกรมเข้ม" />
    </a>
    <h5>490.00 บาท</h5>
    <a href="/">
      <h5 class="margin-bottom">
        <strong>เสื้อสูทผู้ชาย สีกรมเข้ม</strong>
      </h5>
    </a>
    <p class="margin-bottom"></p>
    <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(39.00); return false;">
      <div>
        <button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button>
      </div>
    </form>
  </div>
  <div class="s-12 m-12 l-4 xl-3 xxl-3">
    <a href="">
      <img class="full-img" src="../../image/product/bagAndShoes/bagTwoTone.jpg" alt="ชุดสูทพร้อมกางเกงชายเป็นเซ็ต" />
    </a>
    <h5>599.00 บาท</h5>
    <a href="/">
      <h4 class="margin-bottom">
        <strong>ชุดสูทพร้อมกางเกงชายเป็นเซ็ต</strong>
      </h4>
    </a>
    <p class="margin-bottom"></p>
    <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(39.00); return false;">
      <div>
        <button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button>
      </div>
    </form>
  </div>
</div>
