<script src="script/fav.js"></script>

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="styles/login.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <a class="navbar-brand" href="index.html">
                <img
                    src="image/pimlogo.png"
                    width="20%"
                    height="20%"
                    alt="pim logo"
                />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="index.html">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                    <a class="nav-item nav-link active" href="login.html"
                        >Login</a
                    >
                    <a class="nav-item nav-link active" href="register.html"
                        >Sign up</a
                    >
                    <a
                        class="nav-item nav-link active"
                        href="https://www.facebook.com/shopforpimsmart"
                        target="blank"
                        >Help</a
                    >
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="d-flex justify-content-between align-items-center pt-4">
                <img class=" " src="image/indexnew3.png" style="width: 40vw; object-fit: contain;" />
                <form id="login-form" class="d-flex align-items-center flex-column">
                    <h5 style="color: #19307E;">LOG IN</h5>
                    <h5 style="color: #19307E;">FOR YOUR ACCOUNT</h5>
                    <br />
                    <div class="mb-3">
                        <label for="username">Username:</label>
                        <input type="text" id="username" required />
                    </div>
                    <div class="mb-3">
                        <label for="password">Password:</label>
                        <input type="password" id="password" required />
                    </div>
                    <div class="d-flex">
                        <p>Don't have an account? <a href="./register.html">Sign up.</a></p>
                    </div>
        
                    <button type="submit" class="btn btn-success" id="loginButton">
                        Log In
                    </button>
                    <br>
                </form>
            </div>
        </div>

        <!-- <div class="image-poster">
            <img
                class="image-poster img-login-1"
                src="image/login_1.png"
                alt=""
            />
            <img
                class="image-poster img-login-2"
                src="image/login_fac.png"
                alt=""
            />
            <img class="fac fac-1" src="image/fac_1.png" alt="" />
            <img class="fac fac-2" src="image/fac_2.png" alt="" />
        </div> -->

        <footer>
            <img id="footage_image" src="image/footage_wave.png" alt="" />
        </footer>

        <script>
            var baseURL = "https://api-pimshop.airprofood.com"

            function handleLogin(event) {
                event.preventDefault()

                const username = document.getElementById("username").value
                const password = document.getElementById("password").value

                fetch(baseURL + "/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ username, password }),
                })
                    .then((response) => {
                        return response.json()
                        // if ((response.code == 200) || response.ok) {
                        //     // Login successful
                        //     alert("Login successful!")
                        //     // Redirect to homepage
                        //     // window.location.href = "homepage.html"
                        // } else {
                        //     // Login failed
                        //     return response.json()
                        // }
                    })
                    .then((data) => {
                        console.log(data)
                        if ((data.code == 200)) {
                            // Login successful
                            alert("Login successful!")
                            // Redirect to homepage
                            localStorage.setItem("token", data.token)
                            window.location.href = "homepage.html"
                        }
                        else  {
                            document.getElementById("error-message").innerText =
                                data.message
                        }
                    })
                    .catch((error) => {
                        console.error("Error:", error)
                    })
            }

            document
                .getElementById("login-form")
                .addEventListener("submit", handleLogin)
        </script>
    </body>
</html>
