<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIM SMART SHOP</title>
    <link rel="stylesheet" href="../styles/components.css" />
    <link rel="stylesheet" href="../styles/icons.css" />
    <link rel="stylesheet" href="../styles/responsee.css" />
    <link rel="stylesheet" href="../owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="../owl-carousel/owl.theme.css" />
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="../styles/template-style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext"
        rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../script/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../script/jquery-ui.min.js"></script>
    <!-- <script defer src="script/cart.js"></script> -->
    <script src="./product.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="size-1520">
    <!-- HEADER -->
    <header>
    </header>
    <!-- ASIDE NAV AND CONTENT -->
    <div class="line">
        <div class="box margin-bottom">
            <div class="margin2x">
                <!-- ASIDE NAV -->
                <aside class="s-12 m-4 l-3 xl-2">
                    <h4 class="margin-bottom">หมวดหมู่สินค้า</h4>
                    <div class="aside-nav minimize-on-small">
                        <p class="aside-nav-text">หมวดหมู่สินค้า</p>
                        <ul>
                            <li>
                                <a href="../souvenir/uniformAccessory.html">อุปกรณ์ชุดนักศึกษา</a>
                                <ul>
                                    <li><a href="../souvenir/accessory/aviAccesory.html">เครื่องแบบการบิน</a></li>
                                    <li><a href="../souvenir/accessory/menAccessory.html">เครื่องแบบนักศึกษาชาย</a></li>
                                    <li><a href="../souvenir/accessory/femaleAccessory.html">เครื่องแบบนักศึกษาหญิง</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="../souvenir/poloAndTshirt.html">เสื้อโปโลและเสื้อยืด</a>
                            </li>
                            <li>
                                <a href="hoodAndLongShirt.html">เสื้อฮู้ดและเสื้อแขนยาว</a>
                            </li>
                            <li><a href="giftBasket.html">กระเช้าของขวัญ</a></li>
                        </ul>


                    </div>
                </aside>
                <!-- CONTENT -->
                <section class="s-12 m-8 l-9 xl-10">

                    <!-- Breadcrumb -->
                    <nav class="breadcrumb-nav">
                        <ul>
                            <li><a href="../smart.html">หมวดหมู่สินค้า</a></li>
                            <li><a href="bagAndShoes.html">เสื้อโปโลและเสื้อยืด</a></li>
                        </ul>
                    </nav>
                    <h1 class="margin-bottom">รายการสินค้า</h1>
                    <!-- Pruducts -->
                    <div id="render" class="margin2x gridproduct">

                    </div>
            </div>
            </section>
        </div>
    </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <div class="line">
            <div class="s-12 l-6">
                <p>Copyright 2023, PIM Smart Shop</p>
            </div>
            <div class="s-12 l-6">
                <a class="right" href="" title="Responsee - lightweight responsive framework">Design by Teeramate and
                    Paiboon Team</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="script/responsee.js"></script>
    <script type="text/javascript" src="../owl-carousel/owl.carousel.js"></script>
    <script src="./navbar.js"></script>
    <script>
        $(document).ready(() => {
            render();
        })

        function render() {
            var html = "";
            for (let i = 0; i < productMaster.shirt.length; i++) {
                const element = productMaster.shirt[i];

                var outofstock = "";
                if (element.qty <= 0) {
                    outofstock = "outofstock";
                }
                html += `
                <div class="gridproductitems ${outofstock}">
    <div class="card">
        <a href="">
            <img class="card-img" src="${element.img}" alt="${element.name}" />
        </a>
        <div class="card-content">
            <a href="/" class="card-title margin-bottom">
                <h5 style="margin-bottom: 0;">
                <strong>${element.name}</strong>
                </h5>
            </a>
            <h6 style="color: #adadad; font-size: .7rem;">
                เหลืออยู่ ${element.qty} ชิ้น
            </h6>
            <h5 class="card-price">
                ${numberWithCommas((element.price).toFixed(2))} บาท
            </h5>
            <p class="margin-bottom"></p>
            <div class="customform s-12 margin-bottom2x" style="margin-top: 10px;">
                <div>
                    <button onclick="addCart(${element.id})" class="button rounded-btn submit-btn s-12">
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
`;
            }
            $("#render").html(html)
        }

        // if(!localStorage.token) {
        //   window.location.href = "https://tealerr.github.io/pim-webshop/src/view/login.html";
        // }
    </script>
</body>

</html>