<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIM SMART SHOP</title>
    <link rel="stylesheet" href="../../styles/components.css" />
    <link rel="stylesheet" href="../../styles/icons.css" />
    <link rel="stylesheet" href="../../styles/responsee.css" />
    <link rel="stylesheet" href="../../../owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="../../../owl-carousel/owl.theme.css" />
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="../styles/template-style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext"
        rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../script/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../script/jquery-ui.min.js"></script>
    <script defer src="../../script/cart.js"></script>
</head>

<body class="size-1520">
    <!-- HEADER -->
    <header>
        <div class="line">
            <div class="box">
                <div class="m-12 l-2">
                    <img class="full-img logo" src="../../image/logoSmartShop.jpg" alt="logo">
                </div>
                <div class="m-12 l-8 right">
                    <div class="margin">
                        <form class="customform m-12 l-8" method="get" action="http://google.com/">
                            <div class="s-9">
                                <input type="text" placeholder="Search form" title="Search form" />
                            </div>
                            <div class="s-3"><button type="submit">Search</button></div>
                        </form>
                        <div class="m-12 l-4">
                            <a href="checkout.html?cartCount=0&totalPrice=0.00" id="cart-link" onclick="addToCart()">
                                <p class="right cart">
                                    <i class="fa fa-shopping-cart" style="font-size:24px""></i>
                    <b id=" cart-count">0 items</b> / THB <span id="total-price">0.00</span>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TOP NAV -->
        <div class="line">
            <nav>
                <div class="top-nav">
                    <ul class="right">
                        <li><a href="../homepage.html">หน้าหลัก</a></li>
                        <li>
                            <a>หมวดหมู่สินค้า</a>
                            <ul>
                                <li> <a>อุปกรณ์ชุดนักศึกษา</a>
                                </li>
                                <li> <a href="../souvenir/poloAndTshirt.html">เสื้อโปโลและเสื้อยืด</a>
                                </li>
                                <li> <a href="hoodAndLongShirt.html">เสื้อฮู้ดและเสื้อแขนยาว</a>
                                </li>
                                <li><a href="giftBasket.html">กระเช้าของขวัญ</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>เกี่ยวกับเรา</a>
                            <ul>
                                <li><a>รายละเอียดของร้าน</a></li>
                                <li><a>ตำแหน่งที่ตั้ง</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.facebook.com/shopforpimsmart" target="blank">ติดต่อเรา</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- ASIDE NAV AND CONTENT -->
    <div class="line">
        <div class="box margin-bottom">
            <div class="margin2x">
                <!-- ASIDE NAV -->
                <aside class="s-12 m-4 l-3 xl-2">
                    <h4 class="margin-bottom">หมวดหมู่สินค้า</h4>
                    <div class="aside-nav minimize-on-small">
                        <p class="aside-nav-text">Select Category</p>
                        <ul>
                            <li><a href="../souvenir/uniformAccessory.html">อุปกรณ์ชุดนักศึกษา</a></li>
                            <li>
                                <a href="../souvenir/poloAndTshirt.html">เสื้อโปโลและเสื้อยืด</a>
                            </li>
                            <li>
                                <a href="../souvenir/hoodAndLongShirt.html">เสื้อฮู้ดและเสื้อแขนยาว</a>
                            </li>
                            <li><a>กระเช้าของขวัญ</a></li>
                        </ul>
                    </div>
                </aside>
                <!-- CONTENT -->
                <section class="s-12 m-8 l-9 xl-10">

                    <!-- Breadcrumb -->
                    <nav class="breadcrumb-nav">
                        <ul>
                            <li><a href="../smart.html">หมวดหมู่สินค้า</a></li>
                            <li><a href="bagAndShoes.html">อุปกรณ์ชุดนักศึกษา</a></li>
                        </ul>
                    </nav>
                    <h1 class="margin-bottom">รายการสินค้า</h1>
                    <!-- Pruducts -->
                    <div class="margin2x">
                        <div class="s-12 m-12 l-4 xl-3 xxl-3">
                            <a href="">
                                <img class="full-img" src="../../image/product/giftBasket/cardHolder.jpg"
                                    alt="ซองใส่บัตรพร้อมสาย" />
                            </a>
                            <h5>50.00 บาท</h5>
                            <a href="/">
                                <h5 class="margin-bottom">
                                    <strong>ซองใส่บัตรพร้อมสาย</strong>
                                </h5>
                            </a>
                            <p class="margin-bottom">

                            </p>
                            <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(50.00); return false;">
                                <div>
                                    <button class="button rounded-btn submit-btn s-12" type="submit">
                                        Add to Cart
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="s-12 m-12 l-4 xl-3 xxl-3">
                            <a href="">
                                <img class="full-img" src="../../image/product/giftBasket/mask.jpg" alt="เเมส" />
                            </a>
                            <h5>99.00 บาท</h5>
                            <a href="/">
                                <h5 class="margin-bottom">
                                    <strong>เเมส</strong>
                                </h5>
                            </a>
                            <p class="margin-bottom">

                            </p>
                            <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(290.00); return false;">
                                <div>
                                    <button class="button rounded-btn submit-btn s-12" type="submit">
                                        Add to Cart
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="s-12 m-12 l-4 xl-3 xxl-3">
                            <a href="">
                                <img class="full-img" src="../../image/product/giftBasket/bag.jpg" alt="กระเป๋าถัก" />
                            </a>
                            <h5>150.00 บาท</h5>
                            <a href="/">
                                <h5 class="margin-bottom">
                                    <strong>กระเป๋าถัก</strong>
                                </h5>
                            </a>
                            <p class="margin-bottom">

                            </p>
                            <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(150.00); return false;">
                                <div>
                                    <button class="button rounded-btn submit-btn s-12" type="submit">
                                        Add to Cart
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="s-12 m-12 l-4 xl-3 xxl-3">
                            <a href="">
                                <img class="full-img" src="../../image/product/giftBasket/cap.jpg" alt="หมวกเเก๊ป" />
                            </a>
                            <h5>250.00 บาท</h5>
                            <a href="/">
                                <h5 class="margin-bottom">
                                    <strong>หมวกเเก๊ป</strong>
                                </h5>
                            </a>
                            <p class="margin-bottom">

                            </p>
                            <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(250.00); return false;">
                                <div>
                                    <button class="button rounded-btn submit-btn s-12" type="submit">
                                        Add to Cart
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="s-12 m-12 l-4 xl-3 xxl-3">
                            <a href="">
                                <img class="full-img" src="../../image/product/giftBasket/bear.jpg"
                                    alt="เซ็ตน้อมหมีOnly" />
                            </a>
                            <h5>290.00 บาท</h5>
                            <a href="/">
                                <h5 class="margin-bottom">
                                    <strong>เซ็ตน้อมหมีOnly</strong>
                                </h5>
                            </a>
                            <p class="margin-bottom">

                            </p>
                            <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(290.00); return false;">
                                <div>
                                    <button class="button rounded-btn submit-btn s-12" type="submit">
                                        Add to Cart
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="s-12 m-12 l-4 xl-3 xxl-3">
                            <a href="">
                                <img class="full-img" src="../../image/product/giftBasket/bookAndPen.jpg"
                                    alt="เซ็ตเสื้อพร้อมสมุดปากกา" />
                            </a>
                            <h5>590.00 บาท</h5>
                            <a href="/">
                                <h5 class="margin-bottom">
                                    <strong>เซ็ตเสื้อพร้อมสมุดปากกา</strong>
                                </h5>
                            </a>
                            <p class="margin-bottom">

                            </p>
                            <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(590.00); return false;">
                                <div>
                                    <button class="button rounded-btn submit-btn s-12" type="submit">
                                        Add to Cart
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="s-12 m-12 l-4 xl-3 xxl-3">
                            <a href="">
                                <img class="full-img" src="../../image/product/giftBasket/pinkBear.jpg"
                                    alt="เซ็ตน้องหมีชมพู" />
                            </a>
                            <h5>790.00 บาท</h5>
                            <a href="/">
                                <h5 class="margin-bottom">
                                    <strong>เซ็ตน้องหมีชมพู</strong>
                                </h5>
                            </a>
                            <p class="margin-bottom">

                            </p>
                            <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(390.00); return false;">
                                <div>
                                    <button class="button rounded-btn submit-btn s-12" type="submit">
                                        Add to Cart
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="s-12 m-12 l-4 xl-3 xxl-3">
                            <a href="">
                                <img class="full-img" src="../../image/product/giftBasket/happyBear.jpg"
                                    alt="เซ็ตน้องหมีHappy" />
                            </a>
                            <h5>890.00 บาท</h5>
                            <a href="/">
                                <h5 class="margin-bottom">
                                    <strong>เซ็ตน้องหมีHappy</strong>
                                </h5>
                            </a>
                            <p class="margin-bottom">

                            </p>
                            <form class="customform s-12 margin-bottom2x" onsubmit="addToCart(39.00); return false;">
                                <div>
                                    <button class="button rounded-btn submit-btn s-12" type="submit">
                                        Add to Cart
                                    </button>
                                </div>
                            </form>
                        </div>
                        </form>
                    </div>
            </div>
            </section>
        </div>
    </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <div class="line">
            <div class="s-12 l-6">
                <p>Copyright 2023, PIM Smart Shop</p>
            </div>
            <div class="s-12 l-6">
                <a class="right" href="" title="Responsee - lightweight responsive framework">Design by Teeramate and
                    Paiboon Team</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="js/responsee.js"></script>
    <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var owl = $("#header-carousel");
            owl.owlCarousel({
                nav: false,
                dots: true,
                items: 1,
                loop: true,
                navText: ["&#xf007", "&#xf006"],
                autoplay: true,
                autoplayTimeout: 3000,
            });
        });
    </script>
</body>

</html>